<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    User List
  </h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>E-mail</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let user of UserList">
      <td>{{ user.id }} {{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
          {{ user.address.street }}<br/>
          {{ user.address.city }} {{ user.address.zipcode }}
      </td>
    </tr>
  </table>
</div>
