<h1>
  User List

<!-- Show spinner icon while loading -->
<span *ngIf="isLoad != 0">
  <i class="fas fa-spinner fa-spin"></i>
</span>
<span *ngIf="isLoad == 0">
  <i>&nbsp;</i>
</span>
</h1>

<table>
  <tr>
    <th (click)='columnNameClick();'>
      <span *ngIf="sortIsDesc==false"><i class="fas fa-caret-up"></i></span>
      <span *ngIf="sortIsDesc==true"><i class="fas fa-caret-down"></i></span>
      Name
    </th>
    <th>Username</th>
    <th>E-mail</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let user of userList">
    <td><a routerLink="user/{{ user.id }}">{{ user.name }}</a></td>
    <td>{{ user.username }}</td>
    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    <td>
        <app-user-address [userAddress]="user.address"></app-user-address>
    </td>
  </tr>
</table>