.vs/
WebApplication/.vscode/
WebApplication/bin/
WebApplication/obj/
WebApplication/project.lock.json
WebApplication/node_modules/
WebApplication/*.user

WebApplication/wwwroot/Angular/
WebApplication/AngularUniversalServer.js
WebApplication/Properties/PublishProfiles