@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input @bind="@Text" @oninput="Change" />
@if (isOk)
{
    <p>Yes its OK!</p>
}
<p>@TextUpper</p>

@code {
    private bool isOk;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private string Text = "Hello";

    private string TextUpper;

    public void Change(ChangeEventArgs args)
    {
        Text = args.Value.ToString();
        TextUpper = Text.ToUpper();
        currentCount = args.Value.ToString().Length;
        isOk = Text == "Ok";
    }
}