@*
    Layout = null; /* No _Layout.cshtml, _ViewStart.cshtml */
*@
@{

}
<html>
<head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<!-- 3. Display the application -->
<body>
    <script>
        params = { data: JSON.stringify({ Name: "Data from index.html" }) };
    </script>
    <my-app asp-prerender-module="Application/Node.js/Server/AngularUniversalServer.js" asp-prerender-data="@Model"></my-app>

    <script type="text/javascript">
        function defer() {
            var element = document.createElement("script");
            element.src = "defer.js";
            document.head.appendChild(element);
        }

        if (window.addEventListener)
            window.addEventListener("load", defer, false);
        else if (window.attachEvent)
            window.attachEvent("onload", defer);
        else window.onload = defer;
    </script>

</body>
</html>
