/.vs/
/.vscode/
/bin/
/obj/
/project.lock.json
/Properties/PublishProfiles/
/node_modules/
*.user

/Application/Nodejs/Server/node_modules/
/Application/Nodejs/Client/

/Application/Nodejs/Server/AngularUniversalServer.js
/Application/Nodejs/Server/AngularUniversalServerNoSpa.js
