/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
    background-color: #2196F3;
}

.flex-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgb(255, 255, 94);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
}

.nav-item {
    background-color: blue;
}

.nav-item:hover {
    background-color: lightblue;
}

.dropdown {
    position: absolute; 
    font-size: 40px; 
    background-color: yellow
}

.dropdown-hover > .dropdown {
    display: none; // Hide drop down
}

.dropdown-hover:hover > .dropdown {
    display: block; // Show drop down
}