/* You can add global styles to this file, and also import other style files */

.my-container {
  display: grid;
  background-color: #2196F3;
  padding: 10px;
}

.my-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  background-color: #04AA6D;
  display: contents;
  color: white;
}