@*
    Layout = null; /* No _Layout.cshtml, _ViewStart.cshtml */
*@
@{

}
<div asp-prerender-module="wwwroot/Server" asp-prerender-data="@Model"></div> <!-- wwwroot/Server calls Server.js try also wwwroot/ServerTypeScript -->
<br/>
Hello World! From JavaScript.cshtml view
