<footer>
      <input type="hidden" value="1.7.28">
      <div class="container">
        <div class="item">
          <h1>ABOUT</h1>
          <p>WorkplaceX is an initiative to simplify and standardize the development of business applications. It is based on ASP.NET Core, Angular, and PostgresSQL.</p>
        </div>
        <div class="item-link">
          <h1>QUICK LINKS</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
        <div class="item" style="flex: 100%">
          <div style="border-bottom: 1px solid #7a7a7a; display: flex; width: 100%;">
          </div>
        </div>
        <div class="item">
          <p>Copyright © 2023 All Rights Reserved by WorkplaceX.com</p>
        </div>
        <div class="item-logo" style="font-size: 2em;">
          <p>
            <a href="https://twitter.com/livepencom" target="_blank"><span class="logo-twitter" title="Twitter"></span></a>
            <a href="https://www.reddit.com/user/livepencom2/" target="_blank"><span class="logo-reddit" title="Reddit"></span></a>
            <a href="https://www.pinterest.com/livepen/" target="_blank"><span class="logo-pinterest" title="Pinterest"></span></a>
            <a href="https://livepen.tumblr.com/" target="_blank"><span class="logo-tumblr" title="Tumblr"></span></a>
          <p>
        </div>
      </div>
  </footer>