.hide {
    display: none; // To show again use .block or .flex or .grid
}

.block {
    display: block;
}

.flex {
    display: flex;
    background-color: #2196F3;
    position: relative; // See also .dropdown position: absolute; top: 100%;
}

.flex-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgb(186, 186, 0);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
}

.dropdown {
    position: absolute; 
    top: 100%; // See also .flex position: relative
    z-index: 1;
    font-size: 40px; 
    background-color: rgb(147, 192, 255);
}

.dropdown-hover > .dropdown {
    display: none; // Hide drop down
}

.dropdown-hover:hover > .dropdown {
    display: block; // Show drop down
}

.dropdown-hover:hover > .dropdown:active {
    display: none; // Hide after click. Use mousedown event. Event click is too slow!
}

.active {
    background-color: darkslateblue;
}

.active-parent {
    background-color: slateblue;
}

.switch {
    background-color: green;
}

.hover {
    opacity: 0.5;
}
