<!-- <div style="font-size: 14px; background-color: rgba(255, 255, 255, 0.5);">{{compDebug()}}</div> -->
<ng-container [ngSwitch]="comp.type">
  <ng-container *ngSwitchCase="null">
    <div app-div *ngFor="let item of comp.list" [comp]="item" [ngClass]="item.calculatedCssClass" [style]="item.calculatedCssStyle"></div>
  </ng-container>
  <div my-button-wrapper app-button *ngSwitchCase="'button'" [comp]="comp"></div>
  <div app-anchor *ngSwitchCase="'anchor'" [comp]="comp"></div>
  <div app-html *ngSwitchCase="'html'" [comp]="comp"></div>
  <nav app-nav *ngSwitchCase="'nav'" [comp]="comp"></nav>
  <footer app-footer *ngSwitchCase="'footer'" [comp]="comp"></footer>
</ng-container>