<p>
  <mat-toolbar color="primary">
    <button mat-button class="selected">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-button>
      Products
    </button>
    <button mat-button>
      <mat-icon>info</mat-icon> About
    </button>
  </mat-toolbar>
</p>

<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>

<h1>Hello Angular Material</h1>
<button mat-raised-button mat-fab type="button" color="accent"><mat-icon>settings</mat-icon></button>
&nbsp;
<button mat-raised-button mat-fab type="button" color="accent"><mat-icon>flight_takeoff</mat-icon></button>
&nbsp;
<button mat-raised-button mat-fab type="button" color="accent"><mat-icon>file_download</mat-icon></button>

<h2>Input</h2>
<p>
<mat-form-field appearance="fill">
  <input matInput placeholder="Search" >
</mat-form-field>
</p>